body {
  box-sizing: border-box;
  background-color: #F3F4F6;
  font-size: 16px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }
  body h2 {
    color: #032F63;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 1.3em;
    margin: 0 0 0.4em 0; }
  body p {
    color: #1A2C45;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.3em;
    margin: 0 0 1.3em 0; }
    @media (max-width: 510px) {
      body p {
        line-height: 1.4em; } }
  body .tab-component__container {
    max-width: 995px;
    margin: 0 auto; }
    body .tab-component__container .tabs-component__tabs {
      text-align: center;
      font-weight: 600;
      display: flex;
      justify-content: left; }
      body .tab-component__container .tabs-component__tabs .tab-component__tabs-list {
        list-style: none;
        margin: auto 0;
        padding: 0; }
        body .tab-component__container .tabs-component__tabs .tab-component__tabs-list .tab-component__tab-item {
          display: inline-block;
          background-color: #E3E8EC;
          height: 64px;
          width: 162px; }
          @media (max-width: 510px) {
            body .tab-component__container .tabs-component__tabs .tab-component__tabs-list .tab-component__tab-item {
              width: 90px; } }
          body .tab-component__container .tabs-component__tabs .tab-component__tabs-list .tab-component__tab-item .tab-component__tab-link {
            color: #12294D;
            display: flex;
            justify-content: center;
            padding: 24px 0 19px 0;
            text-decoration: none;
            text-transform: capitalize;
            border-top: 3px solid transparent;
            transition: all .3s ease; }
            body .tab-component__container .tabs-component__tabs .tab-component__tabs-list .tab-component__tab-item .tab-component__tab-link.active {
              background-color: #FFFFFF;
              border-top: 3px solid #06A7A6; }
              body .tab-component__container .tabs-component__tabs .tab-component__tabs-list .tab-component__tab-item .tab-component__tab-link.active:hover {
                border-top: 3px solid #04ccca; }
            body .tab-component__container .tabs-component__tabs .tab-component__tabs-list .tab-component__tab-item .tab-component__tab-link:not(.active):hover {
              background-color: #E9ECEF; }
    body .tab-component__container .tab-component__contents {
      background-color: #FFFFFF;
      width: 100%; }
      body .tab-component__container .tab-component__contents .tab-component__content-block {
        display: none;
        padding: 2.6em;
        transition: all .3s ease; }
        @media (max-width: 510px) {
          body .tab-component__container .tab-component__contents .tab-component__content-block {
            padding: 1.6em 0.4em; } }

/*# sourceMappingURL=style.css.map */
